*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins,Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

:root{
    --primaryColor :rgb(17, 11, 74); 
    --redColor :red;
    --border:1px solid rgb(195, 194, 194);
    --shadow:0px 0px 22px rgba(0, 0, 0, 0.5);
}